.btn {
    border: 1px solid #fff;
    border-radius: 3px;  
}

.btn--tangerine {
    @extend .btn;
    border: 1px solid $tangerine; 
}

.btn--next {
    display: inline-block;
    color: #fff;
    text-decoration: none; 
    font-size: 2em;  
}