// Icon 
.icon {
    margin: 0;
    box-sizing: border-box;
    position: relative; 
    border-radius: 50%; 
    height: 30px;
    width: 30px;
    color: #fff; 
    a {
        text-decoration: none; 
        color: inherit; 
    }

    &--facebook {
        background: #3B5998; 
        a {
            top: 7px;
            left: 11px;
        }
    }

    &--youtube {
        background: #ff0000;
        a {
            top: 7px; 
            left: 7px;
        }
    }

    &--flickr {
        background: lightgray;
        a {
            top: 7px; 
            left: 9px;
        }
    }

    &--twitter {
        background: #1DA1F2; 
        a {
            top: 8px; 
            left: 8px;
        }
    }

    &--linkedin {
        background: #0077B5;
        a {
            top: 6px; 
            left: 9px;
        }
    }
}