// =============================================================================
// Typography
// =============================================================================

@font-face {
    font-family: "Brandon"; 
    src: url(../fonts/Brandon_reg.otf) format("otf");
    font-weight: 400; 
}