.work-section {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.work__item {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}

.work--bg-healthy {
    background-color: #293D68;
    background-image: url(../img/bg-healthy.jpg); 
    background-size: contain; 
}

.work--bg-educational {
    background-color: #A42436;
    background-image: url(../img/bg-educational.jpg);
    background-size: cover; 
}

.work--bg-delicious {
    background-color: #000;
    background-image: url(../img/bg-delicious.jpg);
    background-size: contain;
}


.work {
    width: 45%;
    &__title {
        margin: 0;
        margin-top: 30px;
        font-family: map-get($brandon, bold);
    }
    &__img {
        // max-width: 202px;
        // width: 100%;
    }
    &__btn {
        letter-spacing: 5px;
        display: inline-block;
        margin-top: 45px;
        font-family: map-get($brandon, semibold);
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
    p {
        margin: 0;
        margin-top: 30px;
        line-height: 1.45;
        font-size: 20px;
        font-weight: 300;
    }
}

.sc--kendall-tablet {
    position: absolute;
    width: 400px;
    bottom: 0;
    top: 300px;
    right: 220px;
    transform: rotate(-20deg);

    img {
        width: 100%;
    }
}

.sc--kendall-mobile {
    position: absolute; 
    width: 250px; 
    right: 0;
    bottom: 50px;
    transform: rotate(10deg); 
    img {
        width: 100%; 
    }
}

