.work {
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    &__item {
        position: relative;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__title {
        margin: 0;
        margin-top: 30px;
        font-family: map-get($brandon, bold);
    }
    &__img {
        // max-width: 202px;
        // width: 100%;
    }
    &__btn {
        letter-spacing: 5px;
        display: inline-block;
        margin-top: 45px;
        font-family: map-get($brandon, semibold);
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
}

[class^="work__item--bg"] {
    background-size: cover;
}

.work__item {
    &--bg-land-of-lincoln {
        background-color: #293D68;
        background-image: url(../img/bg-healthy.jpg);
    }
    &--bg-kendall {
        background-color: #A42436;
        background-image: url(../img/bg-educational.jpg);
        background-size: cover;
    }
    &--bg-delicious {
        background-color: #000;
        background-image: url(../img/bg-delicious.jpg);
    }
    &--bg-northwestern {
        background: #553876;
        background-image: url(../img/northwestern-law/nw-bg.jpg);
    }
    &--bg-pritzker {
        background-image: url(../img/pritzker/pritz-bg.jpg);
        background-size: cover; 
    }
    &--bg-roche {
        background-image: url(../img/roche/roche-bg.jpg);
    }
    &--bg-paylocity {
        background-image: url(../img/paylocity/paylocity-bg.jpg);
    }
    &--bg-american-bar {
        background-image: url(../img/american-bar/bg-american-bar.jpg);
    }
    &--bg-authe {
        background-image: url(../img/authe/authe-bg.jpg);
    }
}

.work__info {
    width: 45%;
    p {
        margin: 0;
        margin-top: 30px;
        line-height: 1.45;
        font-size: 20px;
        font-weight: 300;
    }
}