// Font Stacks 
$serif:                                     'Crimson Text', serif; 
$sans-serif:                                'Brandon Grotesque', sans-serif; 

// Colors 
$clique-primary-color:                       #f88601; 